services:
  moviesbot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    env_file: .env
    restart: unless-stopped
    logging:
      driver: awslogs
      options:
        awslogs-region: eu-north-1
        awslogs-group: moviesdb
        awslogs-stream: ec2-user

  moviesdb-api:
    build:
      context: .
      dockerfile: Dockerfile.api
    env_file: .env
    restart: unless-stopped
    ports:
      - "8000:8000"
    logging:
      driver: awslogs
      options:
        awslogs-region: eu-north-1
        awslogs-group: moviesdb
        awslogs-stream: api
